<h3 class="blog-add-post-form-header">New blog post <span class="loader" style="display: none;"></span></h3>
<form class="blog-add-post-form" id="test-form" action="{{ addPostUrl }}" method="post" enctype="multipart/form-data">
    <div class="inputs">
        <input name="title"><br>
        <textarea name="content"></textarea><br>
        <input name="email"><br>
        <input type="file" name="image">
    </div>
    <div class="submit-button">
        <input type="submit">
    </div>
</form>
