{% extends "layout.html.twig" %}

{% block content %}
<div id="test-app">
    <header class="blog-header">
        <h1>My spectacular blog</h1>
        <h2>A totally true statement</h2>
    </header>

    <div class="blog-add-post">
        {% include 'addPostBlock.html.twig' with {'addPostUrl': addPostUrl} %}
    </div>

    <aside class="blog-used-words">
        <h3>Most used words here:</h3>
        <ul>
            {% for word in mostUsedWords %}
                <li>{{ word }}</li>
            {% endfor %}
        </ul>
    </aside>

    <div class="blog-posts">
        {% for post in posts %}
            {% include 'post.html.twig' with {'post': post} %}
        {% endfor %}
    </div>
</div>
{% endblock %}
