<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vladimir's blog</title>
    <link rel="stylesheet" type="text/css" href="/assets/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/miligram.min.css">
    <script src="/assets/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/index.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
