<article class="blog-post">
    <div class="blog-post-header">
        <header>
            <h4>{{ post.title }}</h4>
        </header>
        <time>{{ post.time|date('d/m/Y') }}</time>
    </div>
    <section class="blog-post-content">
        {% if post.image %}
            <img width=300 height=300 src="/uploaded/{{ post.image }}"/>
        {% endif %}
        <p>
            {{ post.content }}
        </p>
    </section>
</article>
