<article class="blog-post">
    <header>
        <h4>{{ post.title }}</h4>
    </header>
    <time>{{ post.time }}</time>
    <section class="blog-post-content">
        <p>
            {{ post.content }}
        </p>
    </section>
</article>
